
<h3>{{ message }}</h3>
<form (ngSubmit)="login(loginForm)" #loginForm="ngForm" nz-form class="loginForm">
  <div ngModelGroup="userDetails">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input name="username" ngModel required placeholder="Username" class="fullWidth"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input name="password" ngModel required placeholder="Password" class="fullWidth"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    
    
  </div>

  <button nz-button type="submit" [disabled]="loginForm. errors ? true : false" class="fullWidth" nzType="primary">Login</button>
</form>
